aio-pika==6.4.1
aiormq==3.3.1
blis==0.7.4
catalogue==2.0.6
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
click==7.1.2
cryptography==3.4.8
cymem==2.0.5
Cython==0.29.14
DAWG-Python==0.7.2
deeppavlov==0.15.0
docopt==0.6.2
fastapi==0.47.1
filelock==3.0.12
h11==0.9.0
h5py==2.10.0
httptools==0.1.2
idna==2.8
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
multidict==5.1.0
murmurhash==1.0.5
nltk==3.4.5
numpy==1.18.0
overrides==2.7.0
packaging==21.0
pamqp==2.3.0
pandas==0.25.3
pathy==0.6.0
preshed==3.0.5
prometheus-client==0.7.1
pycparser==2.20
pydantic==1.7.4
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
pymorphy2-dicts-ru==2.4.417127.4579844
pymystem3==0.2.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyTelegramBotAPI==3.6.7
python-dateutil==2.8.2
pytz==2019.1
regex==2021.8.28
requests==2.22.0
ru-core-news-lg==3.0.0
ruamel.yaml==0.15.100
rusenttokenize==0.0.5
sacremoses==0.0.35
scikit-learn==0.21.2
scipy==1.4.1
six==1.16.0
smart-open==5.2.1
spacy==3.0.6
spacy-legacy==3.0.8
srsly==2.4.1
starlette==0.12.9
thinc==8.0.10
torch==1.8.1
torchtext==0.9.1
tqdm==4.41.1
typer==0.3.2
typing-extensions==3.10.0.2
urllib3==1.25.11
uvicorn==0.11.7
uvloop==0.14.0
wasabi==0.8.2
websockets==8.1
yarl==1.6.3